
.menu {
    list-style: none;
    width: 100%;
    display: inline;
}

.menu > #li1 {
    display: block;
    position: relative;
}

.menu > #li2 {
    display: inline-block;
    position: relative;
}

.submenu1 {
    display: none;
    position: absolute;
    width: 130px;
    margin-left: 35px;
}

.submenu2 {
    display: none;
    position: absolute;
    width: 130px;
    margin-left: 35px;
}
